@import "tailwindcss";

@font-face {
  font-family: "Garamond Premier Pro", serif;
  src: url("/fonts/GaramondPremierProRegular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Perfume Sans Medium";
  src: url("/fonts/Perfume Sans 2 Medium.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Perfume Sans Bold";
  src: url("/fonts/PerfumeSans3-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --red: red;
  --green: #00ae5c;
  --yellow: #ff0;
  --grey-1: #f2f2f2;
  --grey-2: #e9e9e9;
  --grey-3: #d9d9d9;
  --font-primary: "Garamond Premier Pro", serif;
  --font-secondary: "Courier", monospace;
  --font-ternary: "Perfume Sans Medium", sans-serif;
  --font-ternary1: "Perfume Sans Bold", sans-serif;
}

@theme inline {
  --color-background: var(--white);
  --color-foreground: var(--black);
  --color-red: var(--red);
  --color-green: var(--green);
  --color-yellow: var(--yellow);
  --font-garamond: var(--font-primary);
  --font-courier: var(--font-secondary);
  --font-title: var(--font-ternary);
  --font-title1: var(--font-ternary1);
  /* --font-mono: var(--font-geist-mono); */

  --animate-openCart: openCart 1s forwards;
  --animate-closeCart: closeCart 1s forwards;

  @keyframes openCart {
    0% {
      top: 0px;
      left: 100%;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 30%;
      opacity: 1;
    }
  }

  @keyframes closeCart {
    100% {
      top: 0px;
      left: 30%;
      opacity: 1;
    }

    0% {
      top: 0px;
      left: 100%;
      opacity: 1;
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
