@import "tailwindcss";

@font-face {
  font-family: "Garamond Premier Pro", serif;
  src: url("/fonts/GaramondPremierProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --red: red;
  --green: #00ae5c;
  --yellow: #ff0;
  --grey-1: #f2f2f2;
  --grey-2: #e9e9e9;
  --grey-3: #d9d9d9;
  --font-primary: "Garamond Premier Pro", serif;
  --font-secondary: "Courier", monospace;
}

@theme inline {
  --color-background: var(--white);
  --color-foreground: var(--black);
  --color-red: var(--red);
  --color-green: var(--green);
  --color-yellow: var(--yellow);
  --font-garamond: var(--font-primary);
  --font-courier: var(--font-secondary);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
